<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.pujjr.gps.dal.dao.HisFieldCommentMapper" >
  <resultMap id="BaseResultMap" type="com.pujjr.gps.dal.domain.HisFieldComment" >
    <id column="ID" property="id" jdbcType="VARCHAR" />
    <result column="TABLE_NAME" property="tableName" jdbcType="VARCHAR" />
    <result column="TABLE_CNAME" property="tableCname" jdbcType="VARCHAR" />
    <result column="FIELD_NAME" property="fieldName" jdbcType="VARCHAR" />
    <result column="FIELD_CNAME" property="fieldCname" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, TABLE_NAME, TABLE_CNAME, FIELD_NAME, FIELD_CNAME
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_his_fieldcomment
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_his_fieldcomment
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.pujjr.gps.dal.domain.HisFieldComment" >
    insert into t_his_fieldcomment (ID, TABLE_NAME, TABLE_CNAME, 
      FIELD_NAME, FIELD_CNAME)
    values (#{id,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR}, #{tableCname,jdbcType=VARCHAR}, 
      #{fieldName,jdbcType=VARCHAR}, #{fieldCname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.pujjr.gps.dal.domain.HisFieldComment" >
    insert into t_his_fieldcomment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="tableName != null" >
        TABLE_NAME,
      </if>
      <if test="tableCname != null" >
        TABLE_CNAME,
      </if>
      <if test="fieldName != null" >
        FIELD_NAME,
      </if>
      <if test="fieldCname != null" >
        FIELD_CNAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableCname != null" >
        #{tableCname,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null" >
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldCname != null" >
        #{fieldCname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.pujjr.gps.dal.domain.HisFieldComment" >
    update t_his_fieldcomment
    <set >
      <if test="tableName != null" >
        TABLE_NAME = #{tableName,jdbcType=VARCHAR},
      </if>
      <if test="tableCname != null" >
        TABLE_CNAME = #{tableCname,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null" >
        FIELD_NAME = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="fieldCname != null" >
        FIELD_CNAME = #{fieldCname,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.pujjr.gps.dal.domain.HisFieldComment" >
    update t_his_fieldcomment
    set TABLE_NAME = #{tableName,jdbcType=VARCHAR},
      TABLE_CNAME = #{tableCname,jdbcType=VARCHAR},
      FIELD_NAME = #{fieldName,jdbcType=VARCHAR},
      FIELD_CNAME = #{fieldCname,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectList" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_his_fieldcomment
  </select>
</mapper>