<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdshop.dal.dao.PublishMapper">
  <resultMap id="BaseResultMap" type="com.xdshop.dal.domain.Publish">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="TITLE" jdbcType="VARCHAR" property="title" />
    <result column="STAR_NUM" jdbcType="REAL" property="starNum" />
    <result column="PRICE_INIT" jdbcType="DOUBLE" property="priceInit" />
    <result column="PRICE_NOW" jdbcType="DOUBLE" property="priceNow" />
    <result column="TICKET_TOTAL" jdbcType="INTEGER" property="ticketTotal" />
    <result column="TICKET_SALE" jdbcType="INTEGER" property="ticketSale" />
    <result column="TICKET_REMAIN" jdbcType="INTEGER" property="ticketRemain" />
    <result column="POSTER_OSS_KEY" jdbcType="VARCHAR" property="posterOssKey" />
    <result column="POSTER_URL" jdbcType="VARCHAR" property="posterUrl" />
    <result column="PUBLISH_RULE" jdbcType="VARCHAR" property="publishRule" />
    <result column="SCENIC_DESC" jdbcType="VARCHAR" property="scenicDesc" />
    <result column="TIME_BEGIN" jdbcType="TIMESTAMP" property="timeBegin" />
    <result column="TIME_END" jdbcType="TIMESTAMP" property="timeEnd" />
    <result column="CREATE_ID" jdbcType="VARCHAR" property="createId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
    <result column="OPEN_FLAG" jdbcType="BIT" property="openFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, TITLE, STAR_NUM, PRICE_INIT, PRICE_NOW, TICKET_TOTAL, TICKET_SALE, TICKET_REMAIN, 
    POSTER_OSS_KEY, POSTER_URL, PUBLISH_RULE, SCENIC_DESC, TIME_BEGIN, TIME_END, CREATE_ID, 
    CREATE_TIME, OPEN_FLAG
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_publish
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_publish
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.xdshop.dal.domain.Publish">
    insert into t_publish (ID, TITLE, STAR_NUM, 
      PRICE_INIT, PRICE_NOW, TICKET_TOTAL, 
      TICKET_SALE, TICKET_REMAIN, POSTER_OSS_KEY, 
      POSTER_URL, PUBLISH_RULE, SCENIC_DESC, 
      TIME_BEGIN, TIME_END, CREATE_ID, 
      CREATE_TIME, OPEN_FLAG)
    values (#{id,jdbcType=VARCHAR}, #{title,jdbcType=VARCHAR}, #{starNum,jdbcType=REAL}, 
      #{priceInit,jdbcType=DOUBLE}, #{priceNow,jdbcType=DOUBLE}, #{ticketTotal,jdbcType=INTEGER}, 
      #{ticketSale,jdbcType=INTEGER}, #{ticketRemain,jdbcType=INTEGER}, #{posterOssKey,jdbcType=VARCHAR}, 
      #{posterUrl,jdbcType=VARCHAR}, #{publishRule,jdbcType=VARCHAR}, #{scenicDesc,jdbcType=VARCHAR}, 
      #{timeBegin,jdbcType=TIMESTAMP}, #{timeEnd,jdbcType=TIMESTAMP}, #{createId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{openFlag,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.xdshop.dal.domain.Publish">
    insert into t_publish
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="title != null">
        TITLE,
      </if>
      <if test="starNum != null">
        STAR_NUM,
      </if>
      <if test="priceInit != null">
        PRICE_INIT,
      </if>
      <if test="priceNow != null">
        PRICE_NOW,
      </if>
      <if test="ticketTotal != null">
        TICKET_TOTAL,
      </if>
      <if test="ticketSale != null">
        TICKET_SALE,
      </if>
      <if test="ticketRemain != null">
        TICKET_REMAIN,
      </if>
      <if test="posterOssKey != null">
        POSTER_OSS_KEY,
      </if>
      <if test="posterUrl != null">
        POSTER_URL,
      </if>
      <if test="publishRule != null">
        PUBLISH_RULE,
      </if>
      <if test="scenicDesc != null">
        SCENIC_DESC,
      </if>
      <if test="timeBegin != null">
        TIME_BEGIN,
      </if>
      <if test="timeEnd != null">
        TIME_END,
      </if>
      <if test="createId != null">
        CREATE_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
      <if test="openFlag != null">
        OPEN_FLAG,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="title != null">
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="starNum != null">
        #{starNum,jdbcType=REAL},
      </if>
      <if test="priceInit != null">
        #{priceInit,jdbcType=DOUBLE},
      </if>
      <if test="priceNow != null">
        #{priceNow,jdbcType=DOUBLE},
      </if>
      <if test="ticketTotal != null">
        #{ticketTotal,jdbcType=INTEGER},
      </if>
      <if test="ticketSale != null">
        #{ticketSale,jdbcType=INTEGER},
      </if>
      <if test="ticketRemain != null">
        #{ticketRemain,jdbcType=INTEGER},
      </if>
      <if test="posterOssKey != null">
        #{posterOssKey,jdbcType=VARCHAR},
      </if>
      <if test="posterUrl != null">
        #{posterUrl,jdbcType=VARCHAR},
      </if>
      <if test="publishRule != null">
        #{publishRule,jdbcType=VARCHAR},
      </if>
      <if test="scenicDesc != null">
        #{scenicDesc,jdbcType=VARCHAR},
      </if>
      <if test="timeBegin != null">
        #{timeBegin,jdbcType=TIMESTAMP},
      </if>
      <if test="timeEnd != null">
        #{timeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openFlag != null">
        #{openFlag,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xdshop.dal.domain.Publish">
    update t_publish
    <set>
      <if test="title != null">
        TITLE = #{title,jdbcType=VARCHAR},
      </if>
      <if test="starNum != null">
        STAR_NUM = #{starNum,jdbcType=REAL},
      </if>
      <if test="priceInit != null">
        PRICE_INIT = #{priceInit,jdbcType=DOUBLE},
      </if>
      <if test="priceNow != null">
        PRICE_NOW = #{priceNow,jdbcType=DOUBLE},
      </if>
      <if test="ticketTotal != null">
        TICKET_TOTAL = #{ticketTotal,jdbcType=INTEGER},
      </if>
      <if test="ticketSale != null">
        TICKET_SALE = #{ticketSale,jdbcType=INTEGER},
      </if>
      <if test="ticketRemain != null">
        TICKET_REMAIN = #{ticketRemain,jdbcType=INTEGER},
      </if>
      <if test="posterOssKey != null">
        POSTER_OSS_KEY = #{posterOssKey,jdbcType=VARCHAR},
      </if>
      <if test="posterUrl != null">
        POSTER_URL = #{posterUrl,jdbcType=VARCHAR},
      </if>
      <if test="publishRule != null">
        PUBLISH_RULE = #{publishRule,jdbcType=VARCHAR},
      </if>
      <if test="scenicDesc != null">
        SCENIC_DESC = #{scenicDesc,jdbcType=VARCHAR},
      </if>
      <if test="timeBegin != null">
        TIME_BEGIN = #{timeBegin,jdbcType=TIMESTAMP},
      </if>
      <if test="timeEnd != null">
        TIME_END = #{timeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="createId != null">
        CREATE_ID = #{createId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openFlag != null">
        OPEN_FLAG = #{openFlag,jdbcType=BIT},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xdshop.dal.domain.Publish">
    update t_publish
    set TITLE = #{title,jdbcType=VARCHAR},
      STAR_NUM = #{starNum,jdbcType=REAL},
      PRICE_INIT = #{priceInit,jdbcType=DOUBLE},
      PRICE_NOW = #{priceNow,jdbcType=DOUBLE},
      TICKET_TOTAL = #{ticketTotal,jdbcType=INTEGER},
      TICKET_SALE = #{ticketSale,jdbcType=INTEGER},
      TICKET_REMAIN = #{ticketRemain,jdbcType=INTEGER},
      POSTER_OSS_KEY = #{posterOssKey,jdbcType=VARCHAR},
      POSTER_URL = #{posterUrl,jdbcType=VARCHAR},
      PUBLISH_RULE = #{publishRule,jdbcType=VARCHAR},
      SCENIC_DESC = #{scenicDesc,jdbcType=VARCHAR},
      TIME_BEGIN = #{timeBegin,jdbcType=TIMESTAMP},
      TIME_END = #{timeEnd,jdbcType=TIMESTAMP},
      CREATE_ID = #{createId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      OPEN_FLAG = #{openFlag,jdbcType=BIT}
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  

  
  
  <select id="selectPublishList" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_publish
    where 1=1
   	<if test="queryParam.timeBegin != null">
		and create_time <![CDATA[>=]]> #{queryParam.timeBegin}
	</if>
	<if test="queryParam.timeEnd != null">
		and create_time <![CDATA[<=]]> #{queryParam.timeEnd}
	</if>
  </select>
  
  
  
</mapper>